<!-- final --><!-- final -->
<!-- final -->
<!-- final -->
<!-- final --><!-- final --><!-- final -->
<!-- final -->
<!-- final -->
<!-- final --><!-- final --><!-- final -->
<!-- final -->
<!-- final -->
<!-- final --><!-- final --><!-- final -->
<!-- final -->
<!-- final -->
<!-- final --><!-- final --><!-- final -->
<!-- final -->
<!-- final -->
<!-- final --><!-- final --><!-- final -->
<!-- final -->
<!-- final -->
<!-- final --><!-- final --><!-- final -->
<!-- final -->
<!-- final -->
<!-- final --><!-- final --><!-- final -->
<!-- final -->
<!-- final -->
<!-- final -->
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
  <a routerLink="/owner/profile" class="navbar-brand d-flex align-items-center">
    <h1 class="m-0">Campside</h1>
  </a>
  <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a  routerLink="/owner/myaccount" class="nav-item nav-link" >My Account</a>
      <a  routerLink="/owner/profile" class="nav-item nav-link">Profile</a>
      <a routerLink="/owner/bookings" class="nav-item nav-link">Bookings</a>
      <a routerLink="/owner/activities" class="nav-item nav-link">Activities</a>
      <a routerLink="/owner/stats" class="nav-item nav-link">Stats</a>
      <div class="nav-item dropdown">
        <a routerLink="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Complaints</a>
        <div class="dropdown-menu bg-light m-0">
          <a routerLink="/owner/complaints" class="dropdown-item">My Complaints</a>
          <a routerLink="/owner/filecomplaint" class="dropdown-item">File a Complaint</a>
        </div>
      </div>
      <a routerLink="/forum" class="nav-item nav-link">Head To Forums</a>
      <a routerLink="/logout" class="nav-item nav-link">Logout</a>
    </div>
  </div>
</nav>
<!-- Navbar End -->
