<app-user-navbar></app-user-navbar>

<app-forum-header></app-forum-header>
<div class="forum-page">

    <form>
      <div class="flex-container" >
        <div>


          <mat-form-field style="width: 120%;" appearance="outline" floatLabel="always">
            <mat-label><b>Red-Label</b></mat-label>
            <textarea [maxlength]="4096"  matInput placeholder="Add Your Post here :)"
                      [(ngModel)]="newPost.content" name="content"  #myPost  ></textarea>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="createPost()">Create Post</button>
        </div>
      </div>

    </form>

  <div  *ngFor="let post of posts">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>

        <mat-card-title>Username </mat-card-title>
        <mat-card-subtitle>FirstName + LastName</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{post.datePost | date:"yy-MM-dd, h:mm a" }}</p>
        <b>{{post.content}}</b>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [matMenuTriggerFor]="menu">React</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <img src="assets/svg/thumbs-up-solid.svg" alt="My SVG Icon" >
          </button>
          <button mat-menu-item>            <img src="assets/svg/heart-solid.svg" alt="My SVG Icon" >
          </button>
          <button mat-menu-item><img src="assets/svg/facebook-wow-logo-svgrepo-com_2
.svg" alt="My SVG Icon" ></button>
          <button mat-menu-item> <img src="assets/svg/face-sad-tear-solid
.svg" alt="My SVG Icon" ></button>

          <button mat-menu-item><img src="assets/svg/face-angry-regular
.svg" alt="My SVG Icon" ></button>

          <button mat-menu-item><img src="assets/svg/facebook-haha-logo-svgrepo-com
.svg" alt="My SVG Icon" ></button>

        </mat-menu>
        <button mat-button>Comment</button>
      </mat-card-actions>
    </mat-card>
    <button (click)="deletPost(post.idPost)">delete</button>
  </div>

</div>

<app-footer-front></app-footer-front>



