
<app-user-navbar></app-user-navbar>

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container text-center py-5">
    <h1 class="display-3 text-white mb-4 animated slideInDown">Bookings</h1>
  </div>
</div>
<!-- Page Header End -->


<div class="containertab">

  <div class="tab">
    <div class="tabheader">
      <div class="tabheader__item"><a id="name" class="filter__link" >Name</a></div>
      <div class="tabheader__item"><a id="wins" class="filter__link filter__link--number" >Wins</a></div>
      <div class="tabheader__item"><a id="draws" class="filter__link filter__link--number" >Draws</a></div>
      <div class="tabheader__item"><a id="losses" class="filter__link filter__link--number" >Losses</a></div>
      <div class="tabheader__item"><a id="total" class="filter__link filter__link--number" >Total</a></div>
    </div>
    <div class="tabcontent">
      <div class="tabrow">
        <div class="tabdata">Tom</div>
        <div class="tabdata">2</div>
        <div class="tabdata">0</div>
        <div class="tabdata">1</div>
        <div class="tabdata">5</div>
      </div>
      <div class="tabrow">
        <div class="tabdata">Dick</div>
        <div class="tabdata">1</div>
        <div class="tabdata">1</div>
        <div class="tabdata">2</div>
        <div class="tabdata">3</div>
      </div>
      <div class="tabrow">
        <div class="tabdata">Harry</div>
        <div class="tabdata">0</div>
        <div class="tabdata">2</div>
        <div class="tabdata">2</div>
        <div class="tabdata">2</div>
      </div>
    </div>
  </div>
</div>



<br><br><br><br><br><br><br><br><br><br><br>
<app-footer-front></app-footer-front>
