<!-- final --><!-- final -->
<!-- final -->
<!-- final -->
<!-- final --><!-- final --><!-- final -->
<!-- final -->
<!-- final -->
<!-- final --><!-- final --><!-- final -->
<!-- final -->
<!-- final -->
<!-- final --><!-- final --><!-- final -->
<!-- final -->
<!-- final -->
<!-- final --><!-- final --><!-- final -->
<!-- final -->
<!-- final -->
<!-- final --><!-- final --><!-- final -->
<!-- final -->
<!-- final -->
<!-- final --><!-- final --><!-- final -->
<!-- final -->
<!-- final -->
<!-- final --><!-- final --><!-- final -->
<!-- final -->
<!-- final -->
<!-- final -->
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
  <a href="index.html" class="navbar-brand d-flex align-items-center">
    <h1 class="m-0">Campside</h1>
  </a>
  <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a href="/guest/home" class="nav-item nav-link active">Home</a>
      <a href="/guest/campgrounds" class="nav-item nav-link">Discover Campgrounds</a>
      <a href="/guest/activities" class="nav-item nav-link">Activities</a>
      <a href="/guest/shop" class="nav-item nav-link">Shop</a>
      <a href="/login" class="nav-item nav-link">Login</a>
      <a href="/signup" class="nav-item nav-link">Sign Up</a>
    </div>
  </div>
</nav>
<!-- Navbar End -->
