
<app-user-navbar></app-user-navbar>

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container text-center py-5">
    <h1 class="display-3 text-white mb-4 animated slideInDown">Activity</h1>
  </div>
</div>
<!-- Page Header End -->
<div class="container">
  <div class="grid product">
    <div class="column-xs-12 column-md-7">
      <div class="product-gallery">
        <div class="product-image">
          <img class="active" src="https://source.unsplash.com/W1yjvf5idqA">
        </div>
        <ul class="image-list">
          <li class="image-item"><img src="https://source.unsplash.com/W1yjvf5idqA" ></li>
          <li class="image-item"><img src="https://source.unsplash.com/VgbUxvW3gS4"></li>
          <li class="image-item"><img src="https://source.unsplash.com/5WbYFH0kf_8"></li>
        </ul>
      </div>
    </div>
    <div class="column-xs-12 column-md-5">
      <h1>Camp Name</h1>
      <p-rating [(ngModel)]="selectedRating" [cancel]="false" (onRate)="onRate($event)"></p-rating>
      <div class="description" style="line-height: 50px">
        <h4 style="display: inline">Average Rating: </h4> <span style="font-size: 20px">4.6</span> <br>
        <h4 style="display: inline">Location: </h4><br>
        <p-button (click)="showMap()" icon="pi pi-external-link" label="Show" styleClass="add-to-cart"></p-button> <br><br>
        <p-button (click)="showBooking()" icon="pi pi-external-link" label="Book" styleClass="add-to-cart" ></p-button> <br>

      </div>
    </div>
  </div>
  <div class="grid related-products">
    <div class="column-xs-12">
      <h3>Available Activities</h3>
    </div>
    <div class="column-xs-12 column-md-4">
      <img src="https://source.unsplash.com/miziNqvJx5M">
      <h4>Succulent</h4>
      <p class="price">$19.99</p>
    </div>
  </div>
</div>
<app-footer-front></app-footer-front>


<app-map [header]=" 'Location' "></app-map>
<p-dialog header="Book Spots On Site" [(visible)]="visibleBooking" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <p class="m-0">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</p-dialog>

